<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommunityToolkit.Mvvm" version="8.2.2" targetFramework="net48" />
  <package id="CsvHelper" version="30.0.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="NLog" version="5.2.8" targetFramework="net48" />
  <package id="Npgsql" version="4.1.14" targetFramework="net48" />
</packages>
